
h1 {
color: black;
}
.firstq {
    
 width: 90%;
 margin: 15px;
 padding: 15px;
 border: solid;
 border-radius: 12px;

}

.firstq:hover {

box-shadow: inset 15em 0em yellow;

}

.secondq {
    width: 90%;
    margin: 15px;
    padding: 15px;
    border: solid;
    border-radius: 12px;

}

.secondq:hover {
    box-shadow: inset 35em 0em yellow;

}

.thirdq {
    width: 90%;
 margin: 15px;
 padding: 15px;
 border: solid;
 border-radius: 12px;

}

.thirdq:hover {
    
    background-color: yellow;
}

.fourthq {
    width: 90%;
 margin: 15px;
 padding: 15px;
 border: solid;
 border-radius: 12px;
}

.fourthq:hover {
    
    box-shadow: inset 55em 0em yellow;

}